version: "3.8"

services:

  backend:
    build: ./backend
    container_name: sharekart_backend
    ports:
      - "3002:3002"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: sharekart_frontend
    ports:
      - "3001:80"
    depends_on:
      - backend
    restart: always

  dashboard:
    build: ./dashboard
    container_name: sharekart_dashboard
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
